/* *********                            Content                        ********** */

.content {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: $white;
	height: $fz * 48.75;
	
}
.content_left {
	margin: 0 auto;
	max-width: 50%;

	.content_text {
		margin-left: 30%;
		max-width: 60%;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		text-align: left;
	}
}
.content_right {
	 width: 50%;
	 background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
	  background-repeat: no-repeat;
	  display: flex;
	  align-items: center;

}
.content_img {
	/*margin-left: 10%;
	max-height: 100%;
	max-width: 100%;*/
	img {
		height: 100%;
		width: 100%;
	}

}
.Week {
	color: $orange;
}

.content h1{
	font-weight: 900;
    letter-spacing: .025em;
    word-spacing: .1em;
	font-size: $fz + 3;
	font-family: "Poppins" , Helvetica, Arial, sans-serif;
} 
.content h5{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	margin-top: $fz + 0.25;
	font-size: $fz * 1.0625;
	font-weight: normal;
} 
.content p{
	margin-top: $fz + 0.25;
	font-size: $fz + 0.15;
}
.text_1{
	color: $darkgrey;
} 
.button2 {
	border: 3px solid $orange;
	padding: $fz  $fz + 2.75;
    font-size: $fz + 0.5;
    margin-top: $fz + 1.5;
}
.button2:hover {
	//transition: all 0.8s ease;
	background: $orange;
	border-color: $orange;
	color: $white;
}
