.foter_section_1 {
  background-color: $footer;
  height: $fz * 25.4375;
  padding-top: $fz * 5.9375;
  padding-bottom: $fz * 6.875;
  .section_shell {
    margin: 0 auto;
    max-width: $fz * 75;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    h3 {
      color: $white;
      font-size: $fz * 1.875;
    }
    a {
      color: $white;
      text-decoration: none;
      transition: all 250ms ease-in;
      &:hover {
        color: $orange;
      }
    }
    .footer_contact {
      max-width: 25%;
       .contact-list {
         i {
           color: $icons;
           font-size: $fz * 2.75;
           line-height: 1.3;
         }
         a {
           font-size: $fz * 0.9;
         }
         /*li:before {
           content: "";
           display: inline-block;
           position: absolute;
           bottom: 100%;
           left: 0;
           right: 0;
           max-width: $fz * 12.5;
           border-top: 1px solid $white;
         }*/
         .units {
           display: flex;
           flex-direction: row;
           margin-top: $fz * 2.1875;
           .unit-body {
             padding-left: $fz * 0.9375;
             .list-desc {
               display: flex;
               flex-direction: row;
               margin-left: $fz * -0.3125;
               margin-right: $fz * -0.3125;
               dt {
                 color: $orange;
               }
             }
             .list-desc > * {
               display: flex;
               flex-direction: row;
               padding-left: $fz * 0.3125;
               padding-right: $fz * 0.3125;;
               font-weight: 400;
               color: $white;
               font-size: $fz * 0.9;
             }
           }
         }
       }
    }
    .footer_posts {
      max-width: 33.33333%;
      .posts-list {
        i {
          color: $white;
          font-size: $fz * 0.9;
        }
        .units {
          display: flex;
          flex-direction: row;
          margin-top: $fz * 2.1875;
          .unit-body {
            padding-left: $fz * 0.9375;
            .time {
              display: flex;
              flex-direction: row;
              .time_body {
                padding-left: $fz * 0.5;
                color: $orange;
                font-style: italic;
                font-size: $fz * 0.9;
              }
            }
          }
        }
      }
    }
  }
}
.footer_2 {
  margin: 0 auto;
  height: $fz * 4.375;
  background-color: #1b1b1b;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%;
  .end {
    height: 40%;
    width: 50px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      color: $white;
    }
  }
}