.footer_touch {
  width: 41.66667%;
  .form-header {
    i {
      padding-left: $fz * 1.5;
      padding-top: $fz * 1;
      padding-bottom: $fz * 1;
      color: $white;
      background-color: $icons;
    }
    p {
      display: flex;
      flex-direction: row;
      margin-top: $fz * 2.1875;
      .label {
        background-color: $icons;
        align-items: center;

      }

      .turnintodropdown {
        width: 100%;
        border: none;
        background-color: $icons;
        color: $white;
        padding-left: $fz * 1.5;
        padding-top: $fz * 1;
        padding-bottom: $fz * 1;
        outline: none;
        option  {
          outline: none;
          padding-top: $fz * 1.5;
          padding-bottom: $fz * 1.5;

        }
      }
    }
    .form-calendar {
      display: flex;
      flex-direction: row;
      color: $white;
      margin-top: $fz * 1;
      .form-control {
        width: 95%;
        border: none;
        background-color: $icons;
        color: $white;
        padding-left: $fz * 1.5;
        padding-top: $fz * 1;
        padding-bottom: $fz * 1;
        outline: none;
      }
    }
    .form-message {
      display: flex;
      flex-direction: row;
      margin-top: $fz * 1;
      textarea {
        background-color: $icons;
        color: $white;
        width: 100%;
        min-height: $fz * 4;
        max-height: $fz * 8;
        border: none;
        padding-left: $fz * 1.5;
        padding-top: $fz * 1;
      }

    }
    .submit {
      margin-top: $fz * 1.1;
      border: 2px solid $orange;
      color: $white;
      background-color: $orange;
      //height: $fz * 4;
      width: auto;
      font-size: $fz * 1.125;
      transition: all 0.8s ease;
      &:hover {
        color: $orange;
        background-color: $black;
      }
    }
  }

}



