/* ````````````````````````````````````        Gallery           ``````````` */
.gallery {
	background: $grey;
	.gallery_block1 {
		display: flex;
		flex-direction: row;
		padding-top: $fz * 3.75;
		.gallery_block {
			width: 33%;
			overflow: hidden;
			.conteiner {
				position: relative;

				img {
					width: 100%;
					transition: all 2s ease;
				}
				.test1 {
					width: 100%;
					height: 100%;
					opacity: 0;
					position: absolute;
					top:0;
					background-color: rgba(0,0,0, 0.5);

					transition: all 2s ease;
					.test{
						position: absolute;
						top: 50%;
						left: 50%;
						margin-right: -50%;
						transform: translate(-50%, -50%);
						span {
							color: $white;
							font-size: $fz - 0.2;
						}
						i {
							color: $white;
						}
					}
				}

				&:hover{
					.test1 {
						opacity: 1;
					}
					img {
						transform: scale(1.2);
					}
				}
			}

		}
	}
	.gallery_block2 {
		text-align: center;
		padding-top: $fz * 1.45;
		padding-bottom: $fz * 1.875;
		font-size: $fz - 0.2;
		font-weight: 900;
		a{
			color: $orange;
			font-size: $fz - 0.2;

		}
	}
}

@media (max-width: 1000px) {
	.gallery {
		.gallery_block1 {
			flex-wrap: wrap;
			.gallery_block {
				width: 50%;

			}
		}
	}
}


