/* *********                            head                            ********** */
.head {
	background: $white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $fz + 5.50;
	padding-left: $fz + 1.5;
	padding-right: $fz + 1.5;
}
a {
	text-decoration: none;
	font-size: $fz * 1.1;
	color: $black;
	transition: all 0.8s ease;
}
.phone {
	max-width: $fz + 0.2;
	padding-right: $fz - 0.375;
}
.button {
	color: $orange;
    letter-spacing: $fz - 0.95;
    font-weight: 900;
    font-size: $fz * 1.2;

}

.right-side {
	border: 3px solid $grey;
	padding: $fz - 0.375 $fz + 0.875;
	transition: all 0.8s ease;
}
.tel:hover {
    color: $orange;
}
.right-side:hover {
	background: $orange;
	border-color: $orange;
	.button {
	color: $white;
   }
}
