/* *********                            home                         ********** */


.home {
	width: 100%;
	height: $fz + 3.2;
	background: $grey;
	position: sticky;
    top: 0;
    min-height: 2em;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 20;
}

 /*Внешний вид меню*/
.menu a {
 	background: $grey;
 	color: $black;
 	padding: $fz - 0.375;
 	display: block;
 }
.side {
	width: $fz * 50;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	
}
.dws_menu {
	width: $fz * 50;
}
.dws_menu ul,
.dws_menu ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
.dws_menu > ul{
	display: flex;
	justify-content: space-around;
}
.dws_menu > ul li a{
	color: $black;
	display: block;
	font-size: $fz - 0.15;
	padding: $fz $fz - 0.375 $fz $fz - 0.6875;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	background: $grey;
	letter-spacing: $fz - 0.95;
}
.dws_menu > ul li a:hover {
	transition: all 0.3s ease;
    color: $orange;
    .li_span1 {
	color: $orange;
}
}
/*sub menu*/
.dws_menu li ul{
	position: absolute;
	min-width: $fz * 9.375;
    border-top: $fz + 0.875 solid transparent;
    opacity: 0;
    top: 500em;
}
.dws_menu > ul li .li_span {
	display: none;
}
.dws_menu li:hover > ul{
	opacity: 1;
    z-index: 3;
    top: 0;
    margin-top: $fz + 2.125;
    transition: all 0.4s ease;
    
}
.dws_menu li > ul li a{
	padding: $fz - 0.375;
	text-transform: none;
}

.dws_menu > ul li .a_far {
	background: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dws_menu li:hover > ul li .a_far:hover {
		border-left: $fz - 0.8 solid transparent;
		.li_span {
	display: inline-block;
}
}
.li_span1 {
	display: inline-block;
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
    transform:rotate(90deg);
	color: $darkgrey;
}

