/* *********                            Shell                       ********** */
.shell {
	width: 100%;
	height: $fz * 43.4375;
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-size: $fz * 3.75;
		font-weight: 900;
		padding-top: $fz * 6.25;
	}
	.blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70%;
		height: 50%;
		padding-top: $fz * 2.5;
		h2{
			color: $orange;
		}
		h5{
			font-family: arrial;
			color: $grey;
			font-size: $fz * 1.5;
		}
		.block1 ,.block2 ,.block3 {
			border: solid $fz - 0.8 $grey;
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease;
		}
	}
}
.tables {
	padding-top: $fz * 1.1875;
	min-width: 80%;
	
}
table {
	width: 100%;
}
td{
	padding-top: $fz * 2;
    font-size: $fz * 1.375;
}
tr {
	display: flex;
	justify-content: space-between;
}
.blocks > div:hover {
	color: $white;
	background: $orange;
	border-color: $orange;
	h2{
	color: $white;
  }
  h5{
	color: $white;
  }

}

@media (max-width: 1200px) {
	.shell {
		.blocks {
			width: 80%;
		}
	}
}
@media (max-width: 1120px) {
	.shell {
		.blocks {
			width: 90%;
		}
	}
}
@media (max-width: 1000px) {
	.shell {
		height: auto;
		h1 {
			font-size: $fz * 2;
			padding-top: $fz * 4.25;
		}
		.blocks {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.block1 ,.block2 ,.block3 {
				width: $fz * 26.875;
				margin-bottom: 5%;
			}
		}
	}
}
@media (max-width: 370px) {
	.shell {
		.blocks {
			.block1 ,.block2 ,.block3 {
				width: 80%;
				width: 80%;
			}
		}
	}
}
