
.section {
  margin: 0 auto;
  background: $white;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-repeat: space;
  background-position: 33% 90%;
  background-size: 29%;
  text-align: center;
  padding-top: $fz * 5.9375;
  padding-bottom: $fz * 6.875;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h2 {
      line-height: 0.93333;
      font-size: $fz * 3.75;
    }
  .sl {
    margin: $fz * 2.5;
    display: flex;
    flex-direction: row;
    width: 70%;

    background: transparent;
      .sl_slide_1 {
        width: 200px;
        margin: $fz * 0.9375;
        /*margin-left: $fz * 0.9375;
        margin-right: $fz * 0.9375;*/
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        .quote-box {
          height: $fz * 16.25;
          background: $white;
          padding: $fz * 3.75 $fz * 1.875 $fz * 4.0625 $fz * 4.0625;

          text-align: left;
          .quote-box-header {
            .img-circle {
              border-radius: 50%;
            }
            display: flex;
            align-items: center;
            .quote-box-title {
              margin-left: $fz * 2.1875;
              font-size: $fz * 1.5;
              line-height: $fz * 2.0625;
              font-family: "Poppins", Helvetica, Arial, sans-serif;
              font-weight: 700;
              letter-spacing: .05em;
            }
          }
        }
        .quote-box-body {
          q {
            margin-top: $fz * 1.25;
            color: $darkgrey;
          }
        }
        .quote-box-footer {
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          p {
            color: $darkgrey;
            font-family: arial;
          }
          .quote-box-cite {
            cite {
              color: $orange;
              text-transform: uppercase;
              font-weight: 700;
              font-family: "Lato", Helvetica, Arial, sans-serif;
            }
            span {
              font-style: italic;
              font-size: $fz;
              color: $black;
              padding-left: $fz * 0.4375;
              line-height: .8;
            }
          }
        }
      }
  }

}

