/* *********                            Video                       ********** */
.trailer {

background-color: $black;
}
.videofront {display:block; /* Устанавливаем */
width:100%; /* Ширина и высота картинки */
height: $fz * 28.75;
background:url(https://kanc-kiev.com.ua/image/catalog/%D0%9A%D0%B8%D1%81%D1%82%D0%B8%20%D0%B1%D0%B5%D0%BB%D0%B8%D1%87%D0%B8,%20%D0%BA%D0%BE%D0%BB%D0%BD%D0%BA%D0%BE%D0%B2%D1%8B%D0%B5,%20%D1%81%D0%B8%D0%BD%D1%82%D0%B5%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5%2012.jpg) no-repeat; /* Заливаем блок статичной картинкой */
background-size: 100%;
}

/* Как видно, начальное (статическое) изображение задано как фон блока с шириной и высотой этого изображения. */
a.videofront video {

visibility:hidden; /* Aнимация не была видна в ситуации, когда мышь не наведена */
}

a.videofront:hover {
background:none; /* Фон (статичное изображение) не было видно при наведении мыши */
}

a.videofront:hover video {
visibility:visible; /* При наведении анимация показывается */
border:0; /* без обрамления 😉 */
}