@import"scss/Variables.scss";
@import"scss/slider.scss";
@import"scss/head.scss";
@import"scss/home.scss";
@import"scss/content.scss";
@import"scss/video.scss";


*{
	margin: 0;
	padding: 0;
}
/* ******************* */

/* ******************* */
body {
	background: grey;
}

