@import"scss/variables.scss";
@import"scss/slider.scss";
@import"scss/head.scss";
@import"scss/home.scss";
@import"scss/content.scss";
@import"scss/video.scss";
@import"scss/shell.scss";
@import"scss/gallery.scss";
@import"scss/slider-all.scss";

@font-face {
    font-family: "Lato";
    src : url('fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src : url('fonts/poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Poppins";
    src : url('https://fonts.googleapis.com/css?family=Poppins');
}

*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato;
}

