@charset "UTF-8";
/* ```````````````````` */
.slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #fff; }

.slider .sl_1 {
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/services-01-480x659.jpg);
  background-repeat: no-repeat;
  width: 33%;
  height: 39.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sl_2 {
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/services-02-480x659.jpg);
  background-repeat: no-repeat;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sl_3 {
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/services-03-480x659.jpg);
  background-repeat: no-repeat;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sl_4 {
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/services-04-480x659.jpg);
  background-repeat: no-repeat;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.slider h1 {
  font-size: 3rem; }

.slider p {
  padding-top: 0.625rem;
  font-size: 1.2rem; }

.slider h5 {
  color: #ff8820;
  padding-top: 0.625rem;
  font-size: 1.5rem;
  font-family: arial; }

/* *********                            head                            ********** */
.head {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000; }

.phone {
  max-width: 1.2rem;
  padding-right: 0.625rem; }

/* .center {
	font-size: $fz * 3;
} */
.button {
  color: #ff8820;
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: 1.2rem; }

.right-side {
  border: 3px solid #f2f3f8;
  padding: 0.625rem 1.875rem; }

.tel:hover {
  transition: all 0.8s ease;
  color: #ff8820; }

.right-side:hover {
  transition: all 0.8s ease;
  background: #ff8820;
  border-color: #ff8820; }
  .right-side:hover .button {
    color: #fff; }

/* *********                            home                         ********** */
.home {
  height: 4.2rem;
  background: #f2f3f8;
  position: sticky;
  top: 0;
  min-height: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 20; }

/*Внешний вид меню*/
.menu a {
  background: #f2f3f8;
  color: #000;
  padding: 0.625rem;
  display: block; }

.side {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box; }

.dws_menu {
  width: 50rem; }

.dws_menu ul,
.dws_menu ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.dws_menu > ul {
  display: flex;
  justify-content: space-around; }

.dws_menu > ul li a {
  color: #000;
  display: block;
  font-size: 0.85rem;
  padding: 1rem 0.625rem 1rem 0.3125rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: #f2f3f8;
  letter-spacing: 0.05rem; }

.dws_menu > ul li a:hover {
  transition: all 0.3s ease;
  color: #ff8820; }
  .dws_menu > ul li a:hover .li_span1 {
    color: #ff8820; }

/*sub menu*/
.dws_menu li ul {
  position: absolute;
  min-width: 9.375rem;
  border-top: 1.875rem solid transparent;
  opacity: 0;
  top: 999em; }

.dws_menu > ul li .li_span {
  display: none; }

.dws_menu li:hover > ul {
  opacity: 1;
  z-index: 3;
  top: 0;
  margin-top: 3.125rem;
  transition: all 0.2s ease; }

.dws_menu li > ul li a {
  padding: 0.625rem;
  text-transform: none; }

.dws_menu > ul li .a_fir {
  color: #ff8820; }

.dws_menu > ul li .a_far {
  background: #fff;
  box-shadow: 0 0 0.625rem #000; }

.dws_menu li:hover > ul li .a_far:hover {
  border-left: 0.2rem solid transparent; }
  .dws_menu li:hover > ul li .a_far:hover .li_span {
    display: inline-block; }

.li_span1 {
  font-size: 1.1rem;
  display: inline-block;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
  transform: rotate(90deg);
  color: #9b9b9b; }

/* *********                            Content                        ********** */
.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  height: 48.75rem; }

.content_left {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.content_right {
  width: 50%;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.content_img {
  margin-left: 10%;
  max-height: 100%;
  max-width: 100%; }

.Week {
  color: #ff8820; }

.content_text {
  margin-left: 30%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left; }

.content h1 {
  font-size: 4rem; }

.content h5 {
  margin-top: 1.25rem;
  font-size: 1.3rem; }

.content p {
  margin-top: 1.25rem;
  font-size: 1.15rem; }

.text_1 {
  color: #9b9b9b; }

.button2 {
  border: 3px solid #ff8820;
  padding: 1rem 3.75rem;
  font-size: 1.5rem;
  margin-top: 2.5rem; }

.button2:hover {
  transition: all 0.8s ease;
  background: #ff8820;
  border-color: #ff8820;
  color: #fff; }

.is_overlay {
  position: relative;
  width: 100%;
  height: 28.75rem; }

#trailer {
  /* position: fixed;
  top: 0; right: 0; bottom: 0; left: 0; */
  overflow: hidden; }

#trailer > video {
  position: absolute;
  /* top: 0;
  left: 0; */
  min-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.shell {
  height: 43.4375rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */ }

h1 {
  font-size: 3.8rem;
  font-weight: 900;
  padding-top: 6.25rem; }

.blocks {
  display: flex;
  flex-direction: row;
  width: 73.125rem;
  justify-content: space-between;
  padding-top: 2.5rem; }
  .blocks h2 {
    color: #ff8820; }
  .blocks h5 {
    font-family: arrial;
    color: #f2f3f8;
    font-size: 1.5rem; }

.blocks .block1, .block2, .block3 {
  border: solid 0.2rem #f2f3f8;
  width: 31%;
  height: 23.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.tables {
  padding-top: 1.2rem;
  min-width: 80%; }

table {
  width: 100%; }

td {
  padding-top: 2rem;
  font-size: 1.4rem; }

tr {
  display: flex;
  justify-content: space-between; }

.blocks > div:hover {
  color: #fff;
  background: #ff8820;
  border-color: #ff8820;
  transition: all 0.5s ease; }
  .blocks > div:hover h2 {
    color: #fff; }
  .blocks > div:hover h5 {
    color: #fff; }

@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css?family=Lato"); }

* {
  margin: 0;
  padding: 0; }

body {
  background: grey;
  font-family: Lato; }
