/* ````````````````````````````````````        Slider           ``````````` */
.slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #fff;
  height: 39.375rem;
  overflow: hidden; }

.text h1 {
  font-size: 3rem; }

.slider p {
  padding-top: 0.625rem;
  font-size: 1.2rem; }

.slider h5 {
  color: #ff8820;
  padding-top: 0.625rem;
  font-size: 1.5rem;
  font-family: arial; }

.slider > div {
  overflow: hidden; }

.slider img {
  transition: all 2s ease; }

.slider > div:hover img {
  transform: scale(1.2); }

.slider_content {
  position: relative; }
  .slider_content .text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .slider_content:hover .test {
    opacity: 1; }

/* *********                            head                            ********** */
.header {
  width: 100%; }

.head {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding-left: 1%;
  padding-right: 1%;
  max-width: 100%; }
  .head .side-icon {
    display: none; }
    .head .side-icon i {
      font-size: 1.8rem;
      color: #9b9b9b; }
  .head .side-icon2 {
    display: none; }
    .head .side-icon2 i {
      font-size: 1.8rem; }

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
  transition: all 0.8s ease;
  border: none; }

.phone {
  max-width: 1.2rem;
  padding-right: 0.625rem; }

.button {
  color: #ff8820;
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: 1.2rem; }

.right-side {
  border: 3px solid #f2f3f8;
  padding: 0.625rem 1.875rem;
  transition: all 0.8s ease; }

.tel:hover {
  color: #ff8820; }

.right-side:hover {
  background: #ff8820;
  border-color: #ff8820; }
  .right-side:hover .button {
    color: #fff; }

@media (max-width: 1200px) {
  .head {
    margin: 0 auto;
    height: 3.4375rem; }
    .head .center-side img {
      padding-top: 5%; } }

@media (max-width: 992px) {
  .wrapper .header {
    background: #fff;
    position: sticky;
    z-index: 20;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .wrapper .header .head {
      z-index: 20;
      top: 0; }
      .wrapper .header .head .phone, .wrapper .header .head .tel, .wrapper .header .head .button {
        display: none; }
      .wrapper .header .head .right-side {
        border: none;
        padding: 0; }
        .wrapper .header .head .right-side:hover {
          background: transparent;
          border-color: transparent; }
      .wrapper .header .head .side-icon {
        display: inherit; }
      .wrapper .header .head .side-icon2 {
        display: inherit; }
  .wrapper .home {
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    background: #fff; }
    .wrapper .home .side {
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      margin-top: 3.4375rem;
      background: #fff;
      display: none;
      width: 16.875rem;
      box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      .wrapper .home .side .dws_menu ul {
        display: flex;
        flex-direction: column;
        align-items: inherit; }
        .wrapper .home .side .dws_menu ul a {
          background: #fff;
          box-shadow: none;
          padding-left: 5%; }
          .wrapper .home .side .dws_menu ul a:hover {
            background: #ff8820;
            color: #fff; }
        .wrapper .home .side .dws_menu ul li {
          margin-top: 1%; }
          .wrapper .home .side .dws_menu ul li .li_span1 {
            padding-right: 10%;
            color: #000;
            transition: all 0.8s ease; }
          .wrapper .home .side .dws_menu ul li .a_fir {
            background: #ff8820;
            color: #fff; }
          .wrapper .home .side .dws_menu ul li ul {
            position: inherit;
            display: none;
            border-top: 0;
            width: 100%; }
            .wrapper .home .side .dws_menu ul li ul .a_far {
              padding-left: 10%; }
        .wrapper .home .side .dws_menu ul .pod_menu .a_far:hover .li_span {
          display: none;
          padding-left: 0; }
        .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          transition: all 0.8s ease; }
          .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1 a {
            margin: 0; }
          .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1 .li_span1 {
            padding-right: 10%;
            font-size: 1.2rem; }
          .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1:hover {
            background: #ff8820; }
            .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1:hover a {
              color: #fff;
              background: #ff8820; }
            .wrapper .home .side .dws_menu ul .pod_menu .pod-menu-1:hover .li_span1 {
              color: #fff; }
        .wrapper .home .side .dws_menu ul .pod_menu:hover .pod-menu-1 {
          background: #ff8820; }
          .wrapper .home .side .dws_menu ul .pod_menu:hover .pod-menu-1 a {
            color: #fff;
            background: #ff8820; }
          .wrapper .home .side .dws_menu ul .pod_menu:hover .pod-menu-1 .li_span1 {
            color: #fff; }
        .wrapper .home .side .dws_menu ul .pod_menu:hover .sub_menu {
          margin-top: 0;
          display: none; } }

/* *********                            home                         ********** */
.home {
  height: 4.2rem;
  background: #f2f3f8;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 20;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .home .side {
    width: 50rem;
    margin: 0 auto; }
    .home .side .dws_menu .a_fir {
      color: #ff8820; }
    .home .side .dws_menu ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto; }
      .home .side .dws_menu ul a {
        font-size: 0.85rem;
        padding: 1rem 0.625rem 1rem 0.3125rem;
        letter-spacing: 0.05rem;
        display: block; }
        .home .side .dws_menu ul a:hover {
          color: #ff8820; }
      .home .side .dws_menu ul li ul {
        position: absolute;
        width: 15rem;
        border-top: 1.875rem solid transparent;
        display: none;
        align-items: inherit;
        top: 0;
        flex-direction: column;
        transition: all 0.8s ease; }
        .home .side .dws_menu ul li ul .li_span {
          display: none;
          transform: rotate(-90deg); }
        .home .side .dws_menu ul li ul li a {
          padding-left: 10%;
          background: #fff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
          .home .side .dws_menu ul li ul li a:hover .li_span {
            display: inline-block; }
      .home .side .dws_menu ul .pod-menu-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .home .side .dws_menu ul .pod-menu-1 .li_span1 {
          display: inline-block;
          transform: rotate(0deg);
          color: #9b9b9b; }
      .home .side .dws_menu ul .pod_menu:hover .pod-menu-1 a {
        color: #ff8820; }
      .home .side .dws_menu ul .pod_menu:hover .pod-menu-1 .li_span1 {
        color: #ff8820; }
      .home .side .dws_menu ul .pod_menu:hover .sub_menu {
        top: 0;
        margin-top: 3.125rem;
        display: flex;
        flex-direction: column; }
  .home .side-2 {
    display: none;
    background: #fff;
    width: 17.5rem;
    position: fixed;
    right: 4px;
    top: 64px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
    text-align: left;
    font-size: 14px;
    z-index: 999; }
    .home .side-2 .side-2-bottom {
      padding-top: 5%; }
      .home .side-2 .side-2-bottom .button-12 {
        color: #ff8820;
        letter-spacing: 0.05rem;
        font-weight: 900;
        font-size: 1.2rem;
        border: 3px solid #f2f3f8;
        padding: 0.625rem 1.875rem;
        transition: all 0.8s ease; }
        .home .side-2 .side-2-bottom .button-12:hover {
          border: 3px solid #ff8820;
          color: #fff;
          background: #ff8820; }

/* *********                            Content                        ********** */
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  height: 48.75rem;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-repeat: no-repeat;
  background-position: 80% 137%;
  background-size: 36%; }

.content_left {
  margin: 0 auto;
  max-width: 50%; }
  .content_left .content_text {
    margin-left: 35%;
    margin-top: 15%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left; }
    .content_left .content_text h1 {
      padding-top: 0;
      font-weight: 900;
      letter-spacing: .025em;
      word-spacing: .1em;
      font-size: 3.75rem;
      font-family: "Poppins" , Helvetica, Arial, sans-serif; }
    .content_left .content_text h5 {
      font-family: "Lato", Helvetica, Arial, sans-serif;
      margin-top: 1.25rem;
      font-size: 1.0625rem;
      font-weight: normal; }
    .content_left .content_text p {
      margin-top: 1.25rem;
      font-size: 0.875rem; }
    .content_left .content_text .text_1 {
      color: #9b9b9b;
      font-size: 0.875rem; }
    .content_left .content_text .Week {
      color: #ff8820; }
    .content_left .content_text .button2 {
      border: 3px solid #ff8820;
      padding: 1rem 3.75rem;
      font-size: 1.125rem;
      margin-top: 2.5rem; }
      .content_left .content_text .button2:hover {
        background: #ff8820;
        border-color: #ff8820;
        color: #fff; }

.content_right {
  width: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  .content_right .content_img {
    margin-left: 10%; }
    .content_right .content_img img {
      height: 100%;
      width: 100%; }

@media (max-width: 1350px) {
  .content .content_left .content_text {
    margin-left: 30%;
    margin-top: 20%;
    max-width: 65%; } }

@media (max-width: 1200px) {
  .content .content_left .content_text {
    margin-left: 20%;
    margin-top: 25%;
    max-width: 70%; } }

@media (max-width: 995px) {
  .content {
    flex-direction: column;
    height: auto;
    background-position: 22% 102%;
    background-size: 66%; }
    .content .content_left {
      max-width: 100%; }
      .content .content_left .content_text {
        margin: 3.125rem auto; }
    .content .content_right {
      margin: 3.125rem auto;
      width: 100%; }
      .content .content_right .content_img {
        margin-left: 15%; } }

video {
  object-fit: fill;
  height: 28.75rem; }

/* *********                            Shell                       ********** */
.shell {
  width: 100%;
  height: 43.4375rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .shell h1 {
    font-size: 3.75rem;
    font-weight: 900;
    padding-top: 6.25rem; }
  .shell .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 50%;
    padding-top: 2.5rem; }
    .shell .blocks h2 {
      color: #ff8820; }
    .shell .blocks h5 {
      font-family: arrial;
      color: #f2f3f8;
      font-size: 1.5rem; }

.blocks .block1, .block2, .block3 {
  border: solid 0.2rem #f2f3f8;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease; }

.tables {
  padding-top: 1.1875rem;
  min-width: 80%; }

table {
  width: 100%; }

td {
  padding-top: 2rem;
  font-size: 1.375rem; }

tr {
  display: flex;
  justify-content: space-between; }

.blocks > div:hover {
  color: #fff;
  background: #ff8820;
  border-color: #ff8820; }
  .blocks > div:hover h2 {
    color: #fff; }
  .blocks > div:hover h5 {
    color: #fff; }

@media (max-width: 1200px) {
  .shell .blocks {
    width: 80%; } }

@media (max-width: 1120px) {
  .shell .blocks {
    width: 90%; } }

@media (max-width: 1000px) {
  .shell {
    height: auto; }
    .shell h1 {
      font-size: 2rem;
      padding-top: 4.25rem; }
    .shell .blocks {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .shell .blocks .block1, .shell .blocks .block2, .shell .blocks .block3 {
        width: 26.875rem;
        margin-bottom: 5%; } }

/* ````````````````````````````````````        Gallery           ``````````` */
.gallery {
  background: #f2f3f8; }
  .gallery .gallery_block1 {
    display: flex;
    flex-direction: row;
    padding-top: 3.75rem; }
    .gallery .gallery_block1 .gallery_block {
      width: 33%;
      overflow: hidden; }
      .gallery .gallery_block1 .gallery_block .conteiner {
        position: relative; }
        .gallery .gallery_block1 .gallery_block .conteiner img {
          width: 100%;
          transition: all 2s ease; }
        .gallery .gallery_block1 .gallery_block .conteiner .test {
          height: 0%;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          transition: all 2s ease; }
          .gallery .gallery_block1 .gallery_block .conteiner .test span {
            color: #fff;
            font-size: 0.8rem; }
          .gallery .gallery_block1 .gallery_block .conteiner .test i {
            color: #fff; }
        .gallery .gallery_block1 .gallery_block .conteiner:hover .test {
          opacity: 1; }
        .gallery .gallery_block1 .gallery_block .conteiner:hover img {
          transform: scale(1.2); }
  .gallery .gallery_block2 {
    text-align: center;
    padding-top: 1.45rem;
    padding-bottom: 1.875rem;
    font-size: 0.8rem;
    font-weight: 900; }
    .gallery .gallery_block2 a {
      color: #ff8820;
      font-size: 0.8rem; }

@media (max-width: 1000px) {
  .gallery .gallery_block1 {
    flex-wrap: wrap; }
    .gallery .gallery_block1 .gallery_block {
      width: 50%; } }

/*
.container{
  display: flex;

  &-element{
    width: 500px;

    &--text{
      color:red;

      &:hover{
        color:green;
      }
    }
  }
}*/
.section {
  margin: 0 auto;
  background: #fff;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-repeat: space;
  background-position: 33% 90%;
  background-size: 29%;
  text-align: center;
  padding-top: 5.9375rem;
  padding-bottom: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section h2 {
    line-height: 0.93333;
    font-size: 3.75rem; }
  .section .sl {
    margin: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    background: transparent; }
    .section .sl .sl_slide_1 {
      width: 200px;
      margin: 0.9375rem;
      /*margin-left: $fz * 0.9375;
        margin-right: $fz * 0.9375;*/
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .section .sl .sl_slide_1 .quote-box {
        height: 16.25rem;
        background: #fff;
        padding: 3.75rem 1.875rem 4.0625rem 4.0625rem;
        text-align: left; }
        .section .sl .sl_slide_1 .quote-box .quote-box-header {
          display: flex;
          align-items: center; }
          .section .sl .sl_slide_1 .quote-box .quote-box-header .img-circle {
            border-radius: 50%; }
          .section .sl .sl_slide_1 .quote-box .quote-box-header .quote-box-title {
            margin-left: 2.1875rem;
            font-size: 1.5rem;
            line-height: 2.0625rem;
            font-family: "Poppins", Helvetica, Arial, sans-serif;
            font-weight: 700;
            letter-spacing: .05em; }
      .section .sl .sl_slide_1 .quote-box-body q {
        margin-top: 1.25rem;
        color: #9b9b9b; }
      .section .sl .sl_slide_1 .quote-box-footer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .section .sl .sl_slide_1 .quote-box-footer p {
          color: #9b9b9b;
          font-family: arial; }
        .section .sl .sl_slide_1 .quote-box-footer .quote-box-cite cite {
          color: #ff8820;
          text-transform: uppercase;
          font-weight: 700;
          font-family: "Lato", Helvetica, Arial, sans-serif; }
        .section .sl .sl_slide_1 .quote-box-footer .quote-box-cite span {
          font-style: italic;
          font-size: 1rem;
          color: #000;
          padding-left: 0.4375rem;
          line-height: .8; }

.foter_section_1 {
  background-color: #242424;
  height: 25.4375rem;
  padding-top: 5.9375rem;
  padding-bottom: 6.875rem; }
  .foter_section_1 .section_shell {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .foter_section_1 .section_shell ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .foter_section_1 .section_shell h3 {
      color: #fff;
      font-size: 1.875rem; }
    .foter_section_1 .section_shell a {
      color: #fff;
      text-decoration: none;
      transition: all 250ms ease-in; }
      .foter_section_1 .section_shell a:hover {
        color: #ff8820; }
    .foter_section_1 .section_shell .footer_contact {
      max-width: 25%; }
      .foter_section_1 .section_shell .footer_contact .contact-list {
        /*li:before {
           content: "";
           display: inline-block;
           position: absolute;
           bottom: 100%;
           left: 0;
           right: 0;
           max-width: $fz * 12.5;
           border-top: 1px solid $white;
         }*/ }
        .foter_section_1 .section_shell .footer_contact .contact-list i {
          color: #4d4d4d;
          font-size: 2.75rem;
          line-height: 1.3; }
        .foter_section_1 .section_shell .footer_contact .contact-list a {
          font-size: 0.9rem; }
        .foter_section_1 .section_shell .footer_contact .contact-list .units {
          display: flex;
          flex-direction: row;
          margin-top: 2.1875rem; }
          .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body {
            padding-left: 0.9375rem; }
            .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc {
              display: flex;
              flex-direction: row;
              margin-left: -0.3125rem;
              margin-right: -0.3125rem; }
              .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc dt {
                color: #ff8820; }
            .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc > * {
              display: flex;
              flex-direction: row;
              padding-left: 0.3125rem;
              padding-right: 0.3125rem;
              font-weight: 400;
              color: #fff;
              font-size: 0.9rem; }
    .foter_section_1 .section_shell .footer_posts {
      max-width: 33.33333%; }
      .foter_section_1 .section_shell .footer_posts .posts-list i {
        color: #fff;
        font-size: 0.9rem; }
      .foter_section_1 .section_shell .footer_posts .posts-list .units {
        display: flex;
        flex-direction: row;
        margin-top: 2.1875rem; }
        .foter_section_1 .section_shell .footer_posts .posts-list .units .unit-body {
          padding-left: 0.9375rem; }
          .foter_section_1 .section_shell .footer_posts .posts-list .units .unit-body .time {
            display: flex;
            flex-direction: row; }
            .foter_section_1 .section_shell .footer_posts .posts-list .units .unit-body .time .time_body {
              padding-left: 0.5rem;
              color: #ff8820;
              font-style: italic;
              font-size: 0.9rem; }

.footer_2 {
  margin: 0 auto;
  height: 4.375rem;
  background-color: #1b1b1b;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%; }
  .footer_2 .end {
    height: 40%;
    width: 50px;
    background-color: #ff8820;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .footer_2 .end a {
      color: #fff; }

.footer_touch {
  width: 41.66667%; }
  .footer_touch .form-header i {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    background-color: #4d4d4d; }
  .footer_touch .form-header p {
    display: flex;
    flex-direction: row;
    margin-top: 2.1875rem; }
    .footer_touch .form-header p .label {
      background-color: #4d4d4d;
      align-items: center; }
    .footer_touch .form-header p .turnintodropdown {
      width: 100%;
      border: none;
      background-color: #4d4d4d;
      color: #fff;
      padding-left: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      outline: none; }
      .footer_touch .form-header p .turnintodropdown option {
        outline: none;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; }
  .footer_touch .form-header .form-calendar {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 1rem; }
    .footer_touch .form-header .form-calendar .form-control {
      width: 95%;
      border: none;
      background-color: #4d4d4d;
      color: #fff;
      padding-left: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      outline: none; }
  .footer_touch .form-header .form-message {
    display: flex;
    flex-direction: row;
    margin-top: 1rem; }
    .footer_touch .form-header .form-message textarea {
      background-color: #4d4d4d;
      color: #fff;
      width: 100%;
      min-height: 4rem;
      max-height: 8rem;
      border: none;
      padding-left: 1.5rem;
      padding-top: 1rem; }
  .footer_touch .form-header .submit {
    margin-top: 1.1rem;
    border: 2px solid #ff8820;
    color: #fff;
    background-color: #ff8820;
    height: 4rem;
    width: 12rem;
    font-size: 1.125rem;
    transition: all 0.8s ease; }
    .footer_touch .form-header .submit:hover {
      color: #ff8820;
      background-color: #000; }

@font-face {
  font-family: "Lato";
  src: url(fonts/Poppins-Bold2f55e0d4b3f9eb3ffaefdac379fa3f8b.ttf) format("truetype"); }

@font-face {
  font-family: "Lato";
  src: url(fonts/Poppins-Regulare212f84086965da44a6c84f3d9a683a4.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css?family=Poppins"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Lato; }
