@charset "UTF-8";
/* ````````````````````````````````````        Slider           ``````````` */
.slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #fff;
  height: 39.375rem;
  overflow: hidden; }

.text h1 {
  font-size: 3rem; }

.slider p {
  padding-top: 0.625rem;
  font-size: 1.2rem; }

.slider h5 {
  color: #ff8820;
  padding-top: 0.625rem;
  font-size: 1.5rem;
  font-family: arial; }

.slider > div {
  overflow: hidden; }

.slider img {
  transition: all 2s ease; }

.slider > div:hover img {
  transform: scale(1.2); }

.slider_content {
  position: relative; }
  .slider_content .text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .slider_content:hover .test {
    opacity: 1; }

/* *********                            head                            ********** */
.head {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000; }

.phone {
  max-width: 1.2rem;
  padding-right: 0.625rem; }

/* .center {
	font-size: $fz * 3;
} */
.button {
  color: #ff8820;
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: 1.2rem; }

.right-side {
  border: 3px solid #f2f3f8;
  padding: 0.625rem 1.875rem; }

.tel:hover {
  transition: all 0.8s ease;
  color: #ff8820; }

.right-side:hover {
  transition: all 0.8s ease;
  background: #ff8820;
  border-color: #ff8820; }
  .right-side:hover .button {
    color: #fff; }

/* *********                            home                         ********** */
.home {
  height: 4.2rem;
  background: #f2f3f8;
  position: sticky;
  top: 0;
  min-height: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 20; }

/*Внешний вид меню*/
.menu a {
  background: #f2f3f8;
  color: #000;
  padding: 0.625rem;
  display: block; }

.side {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box; }

.dws_menu {
  width: 50rem; }

.dws_menu ul,
.dws_menu ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.dws_menu > ul {
  display: flex;
  justify-content: space-around; }

.dws_menu > ul li a {
  color: #000;
  display: block;
  font-size: 0.85rem;
  padding: 1rem 0.625rem 1rem 0.3125rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: #f2f3f8;
  letter-spacing: 0.05rem; }

.dws_menu > ul li a:hover {
  transition: all 0.3s ease;
  color: #ff8820; }
  .dws_menu > ul li a:hover .li_span1 {
    color: #ff8820; }

/*sub menu*/
.dws_menu li ul {
  position: absolute;
  min-width: 9.375rem;
  border-top: 1.875rem solid transparent;
  display: none; }

.dws_menu > ul li .li_span {
  display: none; }

.pod_menu:hover > .sub_menu {
  z-index: 3;
  top: 0;
  margin-top: 3.125rem;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column; }

.dws_menu li > ul li a {
  padding: 0.625rem;
  text-transform: none; }

.dws_menu > ul li .a_far {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.dws_menu li:hover > ul li .a_far:hover {
  border-left: 0.2rem solid transparent; }
  .dws_menu li:hover > ul li .a_far:hover .li_span {
    display: inline-block; }

.li_span1 {
  display: inline-block;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
  transform: rotate(90deg);
  color: #9b9b9b; }

/* *********                            Content                        ********** */
.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  height: 48.75rem; }

.content_left {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.content_right {
  width: 50%;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.content_img {
  margin-left: 10%;
  max-height: 100%;
  max-width: 100%; }

.Week {
  color: #ff8820; }

.content_text {
  margin-left: 30%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left; }

.content h1 {
  font-weight: 900;
  letter-spacing: .025em;
  word-spacing: .1em;
  font-size: 4rem;
  font-family: "Poppins" , Helvetica, Arial, sans-serif; }

.content h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin-top: 1.25rem;
  font-size: 1.0625rem;
  font-weight: normal; }

.content p {
  margin-top: 1.25rem;
  font-size: 1.15rem; }

.text_1 {
  color: #9b9b9b; }

.button2 {
  border: 3px solid #ff8820;
  padding: 1rem 3.75rem;
  font-size: 1.5rem;
  margin-top: 2.5rem; }

.button2:hover {
  transition: all 0.8s ease;
  background: #ff8820;
  border-color: #ff8820;
  color: #fff; }

video {
  object-fit: fill;
  height: 28.75rem; }

/* *********                            Shell                       ********** */
.shell {
  height: 43.4375rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 3.8rem;
  font-weight: 900;
  padding-top: 6.25rem; }

.blocks {
  display: flex;
  flex-direction: row;
  width: 73.125rem;
  justify-content: space-between;
  padding-top: 2.5rem; }
  .blocks h2 {
    color: #ff8820; }
  .blocks h5 {
    font-family: arrial;
    color: #f2f3f8;
    font-size: 1.5rem; }

.blocks .block1, .block2, .block3 {
  border: solid 0.2rem #f2f3f8;
  width: 31%;
  height: 23.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.tables {
  padding-top: 1.2rem;
  min-width: 80%; }

table {
  width: 100%; }

td {
  padding-top: 2rem;
  font-size: 1.4rem; }

tr {
  display: flex;
  justify-content: space-between; }

.blocks > div:hover {
  color: #fff;
  background: #ff8820;
  border-color: #ff8820;
  transition: all 0.5s ease; }
  .blocks > div:hover h2 {
    color: #fff; }
  .blocks > div:hover h5 {
    color: #fff; }

/* ````````````````````````````````````        Gallery           ``````````` */
.gallery {
  height: 36.3125rem;
  background: #f2f3f8; }

.gallery_block1 {
  display: flex;
  flex-direction: row;
  height: 28.125rem;
  padding-top: 3.75rem; }

.gallery_block {
  display: flex;
  width: 33%;
  height: 100%;
  overflow: hidden; }

.gallery_block2 {
  text-align: center;
  padding-top: 1.45rem;
  font-size: 0.8rem;
  font-weight: 900; }
  .gallery_block2 a {
    color: #ff8820;
    font-size: 0.8rem; }

.gallery_block img {
  width: 100%;
  height: 100%;
  transition: all 2s ease; }

.conteiner {
  position: relative; }
  .conteiner .test {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease; }
    .conteiner .test span {
      color: #fff;
      font-size: 0.8rem; }
    .conteiner .test i {
      color: #fff; }
  .conteiner:hover .test {
    /*display: flex;
			flex-direction: row;*/
    opacity: 1;
    /*background: rgba(0,0,0, 0.4);
			padding: 100%;*/ }
  .conteiner:hover img {
    transform: scale(1.2); }

/*
.container{
  display: flex;

  &-element{
    width: 500px;

    &--text{
      color:red;

      &:hover{
        color:green;
      }
    }
  }
}*/
.section {
  margin: 0 auto;
  background: #fff;
  background-image: url(https://livedemo00.template-help.com/wt_prod-10985/images/bg-02.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 5.9375rem;
  padding-bottom: 6.875rem; }
  .section h2 {
    line-height: 0.93333;
    font-size: 3.75rem; }
  .section .sl {
    margin: 1.875rem; }
    .section .sl .sl_slide {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 148.125rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; }
      .section .sl .sl_slide .sl_slide_1 {
        width: 34.6875rem; }
        .section .sl .sl_slide .sl_slide_1 .quote-box {
          height: 14.6875rem;
          background-color: #fff;
          padding: 3.75rem 1.875rem 4.0625rem 4.0625rem;
          margin-right: 1.875rem;
          box-shadow: 0 1px 16px rgba(0, 0, 0, 0.21);
          text-align: left; }
          .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-header {
            display: flex;
            align-items: center; }
            .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-header .img-circle {
              border-radius: 50%; }
            .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-header .quote-box-title {
              margin-left: 2.1875rem;
              font-size: 1.5rem;
              line-height: 2.0625rem;
              font-family: "Poppins", Helvetica, Arial, sans-serif;
              font-weight: 700;
              letter-spacing: .05em; }
          .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-body q {
            margin-top: 1.25rem;
            color: #9b9b9b; }
          .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-footer {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between; }
            .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-footer p {
              color: #9b9b9b;
              font-family: arial; }
            .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-footer .quote-box-cite cite {
              color: #ff8820;
              text-transform: uppercase;
              font-weight: 700;
              font-family: "Lato", Helvetica, Arial, sans-serif; }
            .section .sl .sl_slide .sl_slide_1 .quote-box .quote-box-footer .quote-box-cite span {
              font-style: italic;
              font-size: 1rem;
              color: #000;
              padding-left: 0.4375rem;
              line-height: .8; }

.foter_section_1 {
  background-color: #242424;
  height: 25.4375rem;
  padding-top: 5.9375rem;
  padding-bottom: 6.875rem; }
  .foter_section_1 .section_shell {
    margin: 0 auto;
    max-width: 75rem; }
    .foter_section_1 .section_shell ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .foter_section_1 .section_shell i {
      color: #4d4d4d;
      font-size: 2.75rem;
      line-height: 1.3; }
    .foter_section_1 .section_shell h3 {
      color: #fff;
      font-size: 1.875rem; }
    .foter_section_1 .section_shell a {
      color: #fff;
      text-decoration: none;
      transition: all 250ms ease-in; }
      .foter_section_1 .section_shell a:hover {
        color: #ff8820; }
    .foter_section_1 .section_shell .footer_contact {
      max-width: 25%; }
      .foter_section_1 .section_shell .footer_contact .contact-list li:before {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        max-width: 200px;
        border-top: 1px solid #fff; }
      .foter_section_1 .section_shell .footer_contact .contact-list .units {
        display: flex;
        flex-direction: row;
        margin-top: 2.1875rem; }
        .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body {
          padding-left: 0.9375rem; }
          .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc {
            display: flex;
            flex-direction: row;
            margin-left: -5px;
            margin-right: -5px; }
            .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc dt {
              color: #ff8820; }
          .foter_section_1 .section_shell .footer_contact .contact-list .units .unit-body .list-desc > * {
            display: flex;
            flex-direction: row;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 400;
            color: #fff; }

@font-face {
  font-family: "Lato";
  src: url(fonts/Poppins-Bold2f55e0d4b3f9eb3ffaefdac379fa3f8b.ttf) format("truetype"); }

@font-face {
  font-family: "Lato";
  src: url(fonts/Poppins-Regulare212f84086965da44a6c84f3d9a683a4.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css?family=Poppins"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Lato; }
